<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726948687055-fggr7tuebtbmscp139h6epoh1peeg1c5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726948687055-fggr7tuebtbmscp139h6epoh1peeg1c5</string>
	<key>API_KEY</key>
	<string>AIzaSyC48vVgrC92ijtPIUe9bOAYUqpe5sBWiZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>726948687055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.honeyProject</string>
	<key>PROJECT_ID</key>
	<string>honey-project2</string>
	<key>STORAGE_BUCKET</key>
	<string>honey-project2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726948687055:ios:326be2c4be752206409bba</string>
</dict>
</plist>